.elementor-widget-woocommerce-checkout-page.vamtam-has-theme-widget-styles {
	.e-coupon-box .e-coupon-anchor .button.e-apply-coupon {
		width: 100%;
		margin-left: 10px;
	}
	input[name="coupon_code"] {
		color: var(--e-global-color-vamtam_accent_6);
	}
	.woocommerce-checkout-payment{
		input {
			border-color: var(--e-global-color-a0ebf33);
			&[type="text"] {
				background-color: var(--e-global-color-vamtam_accent_5);
			}
			&[type="submit"]:hover {
				background-color: var( --e-global-color-cc28745 );
			}
		}
	}
}