// WC Cart - Desktop.
.elementor-widget-woocommerce-cart {
	// Base theme widget styles.
	&.vamtam-has-theme-widget-styles {
		.woocommerce {
			.woocommerce-message {
				display: inline-block;
				width: 59%;
			}
			.woocommerce-info {
				width: 59%;
			}
			input[name="coupon_code"] {
				color: var(--e-global-color-vamtam_accent_6);
			}
			.wc-proceed-to-checkout {
				input {
					border-color: var(--e-global-color-a0ebf33);
					&[type="text"] {
						background-color: var(--e-global-color-vamtam_accent_5);
					}
					&[type="submit"]:hover {
						background-color: var( --e-global-color-cc28745 );
					}
				}
			}
		}
	}
}
